body{
    background-color: aqua;
}

canvas{

    margin-top: 30px;
    border-style: groove;
    border-width: 5px;
    border-color:cornflowerblue;
    border-radius: 2rem;
    border-block-end-style: outset;
    border-spacing: 1rem;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
}